%h1 Feed
.col-md-8.well#postbox
	.form-group
		.col-md-10
			%input.form-control#postboxinput{placeholder: "Discover is a social network provides you with stuff."}
		.col-md-2
			%button.btn.btn-primary#postboxsubmit{type: :button} Submit
