%header 
  = link_to(root_url) do
    = image_tag "logo1.png", id: "logo"
    %h1#headlink iscover

- if logged_in?
  .container-main.container#navbar-container
    %nav.navbar.navbar-default{role: 'navigation'}
      %ul.nav.nav-tabs
        %li.active
          = link_to "Home", '#'
        %li 
          = link_to "Profile", '#'
